@import '../../../../assets/variables/variables.scss';


body {
    background-color: $bg-main;
    margin: 0;
    padding: 60px 30px;
}

.table {
    background-color: #fff;
}
.tlc-dark {
    background-color: $primary;
}