<div class="container">
<h3>Shopping Cart ({{numberOfItems}} items - {{ total | currency }})</h3>

<div *ngIf="!numberOfItems">
    Shopping cart is empty. Add some <a>products</a>
</div>

<!-- <div *ngIf="numberOfItems">
    <tl-cart-item 
    *ngFor="let item of cartItems" [item]="item" 
    (remove)="handleRemove($event)"
    (updateQty)="updateQuantity($event)"
    >
    </tl-cart-item>
</div> -->

<table class="table" *ngIf="numberOfItems">
    <thead class="thead-dark tlc-dark table-head">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Color</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr cart-item 
            *ngFor="let item of cartItems" [item]="item" 
            (remove)="handleRemove($event)"
            (updateQty)="updateQuantity($event)"
        >
    </tr>
    </tbody>
  </table>
</div>