@import '../../../../assets/variables/variables.scss';


body {
    background-color: $bg-main;
    margin: 0;
    padding: 60px 30px;
}

.table {
    background-color: #fff;
}
.tlc-dark {
    background-color: $primary;
}

.cart-title {
    font-weight: bold;
    color: #fff;
    margin-bottom: 24px;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
}