<td>
    <figure>
        <img src="../../../../../assets/images/{{item.image.baseUrl}}" alt="">
    </figure>
</td>
<td>
    <h3 class="item-detail item-title">
        {{item.name}}
    </h3>
    <p class="item-summary">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
    </p>
    <div class="btn-block btn-group">
        <button (click)="buyLess(item)" class="btn btn-danger">Remove pair</button>
        &nbsp;&nbsp;
        <button (click)="buyMore(item)" class="btn btn-success">Add xtra pair</button>
    </div>
</td>
<td>
    <h4 class="item-detail">{{item.options?.color}}</h4>
</td>
<td>
    <h4 class="item-detail">{{item.options?.size}}</h4>
</td>
<td>
    <h4 class="item-detail">
        {{item.price | currency}} 
    </h4>
</td>
<td>
    <h4 class="item-detail">
        {{item.quantity}}
    </h4>
</td>
<td>
    <h4 class="item-detail">
        {{ item.price * item.quantity | currency }}
    </h4>    
</td>
<td><a (click)="removeItem(item)" class="a-danger">x</a></td>