/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
@import './assets/variables/variables.scss';


body {
    background-color: $bg-main;
    margin: 0;
    padding: 60px 30px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: 'Montserrat', sans-serif;
}

th {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}